.content {
  width: 604px;
  height: 452px;
  margin-top: 143px;
  margin-left: 40px;
}

.content .content__title {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: flex-start;
}

.content .content__title .content__title-1 {
  margin: 0;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 57px;
  letter-spacing: -0.06em;

  color: #FFFFFF;
}

.content .content__title .content__title-2 {
  margin: 0;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
  letter-spacing: -0.06em;

  color: #FFD74F;
}

.content .content__paragraph {
  text-align: left;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 191.68%;
  /* or 31px */
  color: #FFFFFF;
}

.content__input {
  width: 601px;
  height: 56px;
  /* left: 1065px;
  top: 515px; */

  background: #7955E8;
  border: 1px solid #A68EEF;
  box-sizing: border-box;
  border-radius: 4px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 191.68%;
/* identical to box height, or 31px */
  color: white;
  padding: 15px;
}

.content__input::placeholder {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 31px;
/* identical to box height, or 31px */

  color: #FFFFFF;
  padding: 5px;
}

.content__form input {
  display: none;
}

.content__label {
  /* width: 162px;
  background: #7955E8;
  border: 1px solid #A68EEF;
  box-sizing: border-box;
  border-radius: 4px; */

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 191.68%;
  /* identical to box height, or 27px */

  text-transform: uppercase;

  color: #FFFFFF;
}

.teste {
  width: 162px;
  background: #7955E8;
  border: 1px solid #A68EEF;
  box-sizing: border-box;
  border-radius: 4px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 191.68%;
  transition: 500ms;
  color: #FFFFFF;
}

.teste2 {
  width: 162px;
  background: #7a55e852;
  border: 1px solid #A68EEF;
  box-sizing: border-box;
  border-radius: 4px;
  opacity: 0.4;

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 191.68%;
  transition: 500ms;
  color: #FFFFFF;
}

.checked::before {
  position: absolute;
  content: ' ';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #FFD74F;
}

.checked {
  content: '56';
  width: 15px;
  height: 15px;
  /* border-radius: 50%; */
  border-bottom: 2px solid green;
  border-right: 4px solid green;
  /* background-color: transparent; */
  transform: rotate(45deg);
  /* display: none; */
}

.unchecked {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #FFFFFF;
}

/* .content__label input {
  display: none;
} */

/* .content__label input:checked + .checkmark{
  display: inline-block;
} */


/* .content__label:active {
  background-color: #ffd64f57;
} */

.content__button {
  width: 209px;
  height: 56px;
  left: 1457px;
  top: 600px;

  background: #FFD74F;
  border-radius: 4px;
  border: none;

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 191.68%;
  /* identical to box height, or 27px */

  text-transform: uppercase;

  color: #744FF4;

  transition: 200ms;
}

.content__button:hover {
  opacity: 0.8;
}

.content__form {
  display: flex;
  justify-content: center;
}

.content__form label {
  margin-right: 5%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.content__form__container {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

@media ( max-width: 360px ) {
  .content {
    width: 100%;
    height: 324px;
    margin-top: 10px;
    margin-left: initial;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .content .content__paragraph {
    display: none;
  }

  /* .content__form__container {
    width: 360px;
  } */

   .content__input {
    width: 90%;
    height: 50px;
    /* left: 1065px;
    top: 515px; */

    background: #7955E8;
    border: 1px solid #A68EEF;
    box-sizing: border-box;
    border-radius: 4px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 191.68%;
  /* identical to box height, or 31px */
  }

  .content__form__container {
    margin: auto;
    /* margin-top: 30px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .content__form__container .content__form {
    width: 90%;
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin-bottom: 25px;
  }

  .content__button {
    width: 90%;
  }

  .content__form label {
    width: 155px;
    margin-right: initial;
  }

  /* .content__form__container form:nth-child(1) label {
    margin-right: 15px;
  } */

  /* .content__form .teste {
    width: 180px;
    margin-right: 2px;
  }

  .content__form .teste2 {
    width: 180px;
    margin-left: 2px;
  } */

  .content .content__title .content__title-1 {
    margin-left: -50%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 57px;
    letter-spacing: -0.06em;

    color: #FFFFFF;
  }

  .content .content__title .content__title-2 {
    margin-left: -50%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 57px;
    letter-spacing: -0.06em;

    color: #FFD74F;
  }
}
