.details {
  display: flex;
  justify-content: center;
  width: 385px;
  height: 766px;
 }

.details .details__shape-1 {
  top: 74px;
  position: relative;
  margin-top: 45px;
  height: 722px;
  left: -16px;
}

.details .details__shape-2 {
  position: absolute;
  margin-top: 20px;
  height: 740px;
}

@media ( max-width: 360px ) {
  .details {
    height: 430px;
  }

  .details .details__shape-1 {
    top: 60px;
    position: relative;
    margin-top: initial;
    height: 415px;
    left: -12px;
  }

  .details .details__shape-2 {
    position: absolute;
    margin-top: 20px;
    height: 413px;
  }
}