.details {
  display: flex;
  justify-content: center;
  width: 385px;
  height: 766px;
 }

.details .details__shape-1 {
  top: 130px;
  position: relative;
  /* margin-top: 45px; */
  height: 722px;
  left: -12px;
}

.details .details__shape-2 {
  position: absolute;
  margin-top: 20px;
  height: 740px;
}