.details {
  display: flex;
  justify-content: center;
  width: 385px;
  height: 956px;
 }

.details .details__shape-1 {
  position: absolute;
  margin-top: 40px;
}

.details .details__shape-2 {
  position: absolute;
  margin-top: 20px;
}