.header {
  /* position: absolute; */
  width: 1167px;
  height: 48px;
  margin-top: 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .header__logo{
  width: 139.28px;
  height: 23px;
  left: 526px;
  top: 39px;
}

.header .header__menu {
  width: 100%;
  display: flex;
  align-items: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: -0.02em;

  color: #FFFFFF;
}

.header .header__menu p {
  margin: 0 15px 0 15px;
  cursor: pointer;
}

.header .header__button {
  width: 165px;
  height: 48px;

  background: #FFD74F;
  box-shadow: 1px 3px 11px -3px rgba(255, 231, 150, 0.45);
  border-radius: 4px;
  border: none;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: -0.02em;

  color: #6F48EC;
}