.header {
  /* position: absolute; */
  min-width: 1167px;
  height: 48px;
  margin-top: 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu__hamburger {
  display: none;
}

.header .header__logo{
  width: 139.28px;
  height: 23px;
  left: 526px;
  top: 39px;
}

.header .header__menu {
  width: 100%;
  display: flex;
  align-items: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: -0.02em;

  color: #FFFFFF;
}

.header .header__menu p {
  margin: 0 15px 0 15px;
  cursor: pointer;
}

.header .header__button {
  width: 165px;
  height: 48px;

  background: #FFD74F;
  box-shadow: 1px 3px 11px -3px rgba(255, 231, 150, 0.45);
  border-radius: 4px;
  border: none;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: -0.02em;

  color: #6F48EC;
}

#react-burger-menu-btn {
  display: none;
}
.bm-overlay {
  display: none;
}

.bm-burger-button {
  display: none;
}


@media ( max-width: 360px ) {
  .header {
    min-width: initial;
    width: 360px;
    justify-content: flex-start;
  }

  .header__menu__hamburger {
    display: inline;
    margin-left: 25px;
  }

  .header .header__logo {
    margin-left: 21px;
  }

  .header .header__menu {
    display: none;
  }
  .header .header__button {
    display: none;
  }

  .bm-burger-button {
    display: initial;
  }

  #react-burger-menu-btn {
    display: initial;
  }
  .bm-overlay {
    display: initial;
  }

 .bm-item-list {
    background-color: lawngreen;
  }

  .bm-menu .pop_header__button {
    width: 165px;
    height: 48px;

    background: #FFD74F !important;
    box-shadow: 1px 3px 11px -3px rgba(255, 231, 150, 0.45);
    border-radius: 4px;
    border: none;
  }

  .bm-cross-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    background: lawngreen;
  }

  /* #react-burger-menu-btn {
    width: 65px !important;
    height: 65px !important;
  } */
}

