.header {
  position: absolute;
  background: linear-gradient(180deg, #7A57FD 0%, #6135D7 100%);
  box-shadow: 4px 2px 14px rgba(0, 0, 0, 0.05);
  width: 1167px;
  height: 48px;
  top: 27px;
  left: 526px;
  display: flex;
  justify-content: space-between;
}

.header .header__logo{
  width: 139.28px;
  height: 23px;
  left: 526px;
  top: 39px;
}

.header .header__menu {
  width: 100%;
  display: flex;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: -0.02em;

  color: #FFFFFF;
}

.header .header__menu p {
  margin: 0 15px 0 15px;
}

.header .header__button {
  width: 165px;
  height: 48px;
  left: 1528px;
  top: 27px;

  background: #FFD74F;
  box-shadow: 1px 3px 11px -3px rgba(255, 231, 150, 0.45);
  border-radius: 4px;
}