.App {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.delails_left {
  display: flex;
  margin-top: 143px;
  margin-left: 300px;
}

.delails_left .delails_left_woman {
  position: absolute;
  /* z-index: 100; */
  width: 384px;
  height: 767px;
  margin-left: 60px;
}

.details-right {
  /* background-color: tomato; */
  margin-left: 100px;
  margin-right: -100px;
}


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
