.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main {
  display: flex;
  justify-content: center;
  margin-left: -135px;
}

.delails_left {
  display: flex;
  margin-top: 143px;
  margin-left: 0;
  width: 510px;
}

.delails_left .delails_left_woman {
  position: absolute;
  width: 384px;
  height: 767px;
  margin-left: 60px;
}

.details-right {
  position: absolute;
  margin-right: -250px;
  right: 0;
}

.main__shape-yellow {
  position: relative;
  top: 458px;
  left: -54px;
  height: 193px;
  width: 193px;
}


@media only screen and ( max-width: 360px ) {
   .main {
    flex-direction: column-reverse;
    margin-left: initial;
    align-items: center;
    margin-left: initial;
    width: 100%;
  }
  .delails_left {
    display: flex;
    margin-top: 80px;
    margin-left: initial;
    height: 350px;
    width: 300px;
  }
  .details-right {
    display: none;
  }

  .delails_left .delails_left_woman {
    position: absolute;
    /* z-index: 100; */
    width: 208px;
    height: 415px;
    margin-left: 60px;
  }

  .main__shape-yellow {
    display: none;
  }
}
